extends layout

block content
  h1= title
  p Welcome to #{title}

  form(id="pick", method="get", action="/api")
    input(type="text", placeholder="Zip Code", id="zip", name="zip",required, autofocus)
    button Find Food
