doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js")

  body
    nav
      div.nav-item
        a(href="/") Home
    a(class="gh-view" href="https://github.com/salexzee/mealpicker" target="_blank")
      img(src="/images/view_on_github_white.png")
    
    div.main
      block content

    footer
      p Copyright &copy; 2016 #[a(href='http://samwebb.me', target="_blank") Sam Webb]. All rights reserved.
