body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #e3e3e3;
}

nav {
  width: 100%;
  padding-top: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  background: #666;
  padding: 10px;
  display: inline-block;
  margin-left: 20px;
  transition: .2s;
}

nav a:hover {
  color: #666;
  background: white;
}

.main {
  width: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.index {
  text-align: center;
}

.index h1 {
  font-size: 7em;
  margin: 70px 0 0 0;
  color: #121212
}

.index h3 {
  font-size: 2.6em;
  margin: 0 0 20px 0;
  color: #555;
}

input {
  text-align: center;
  font-size: 2.3em;
  display: inline-block;
  margin-bottom: 20px;
  color: #777;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #777;
  background: white;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	-webkit-text-fill-color: #777 !important;
}

button {
  font-size: 2em;
  padding: 10px 30px;
  color: #777;
  border: 2px solid #777;
  background: white;
  cursor: pointer;
  transition: .2s;
}

button:hover {
  background: #555;
  color: white;
}
