html {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #e3e3e3 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPElEQVQYV2NkIA5IMhKhTpKBgeE5IYVgRSDD8CmEK8KnEEURLoUYirApxKoIXSFORcgK8SqCKSSoCKQQAI9pCSQZzIwgAAAAAElFTkSuQmCC) repeat fixed;
  padding-bottom: 60px;
  height: 100%;
}

nav {
  width: 100%;
  padding-top: 20px;
}

nav a {
  color: #444;
  text-decoration: none;
  background: white;
  padding: 10px;
  display: inline-block;
  margin-left: 20px;
  transition: .2s;
  border: 1px solid #777;
}

nav a:hover {
  color: white;
  background: #4892AB;
}

.main {
  width: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.index,
.display {
  text-align: center;
}

.index h1 {
  font-size: 6em;
  margin: 70px 0 0 0;
  color: #4892AB;
}

.index h3 {
  font-size: 2.4em;
  margin: 0 0 20px 0;
  color: #555;
}

input {
  text-align: center;
  font-size: 2.3em;
  display: inline-block;
  margin-bottom: 20px;
  color: #777;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #777;
  background: white;
  width: 60%;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	-webkit-text-fill-color: #777 !important;
}

button {
  font-size: 2em;
  padding: 10px 30px;
  color: #777;
  border: 2px solid #777;
  background: white;
  cursor: pointer;
  transition: .2s;
}

button:hover {
  background: #4892AB;
  color: white;
}

.display section {
  margin-bottom: 40px;
  margin-top: 40px;
}

.display h1 {
  font-size: 5em;
  margin-bottom: 40px;
  color: #4892AB;
}

.display h3 {
  font-size: 2em;
  margin: 0;
}

.display p {
  color: #777;
  font-size: 1.4em;
}

.display a {
  color: #777;
  text-decoration: none;
  transition: .2s;
}

.display a:hover {
  color: #4892AB;
}

footer {
  width: 100%;
  background: hsla(0, 0%, 20%, .98);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 25px 0;
  color: #ddd;
  font-family: Helvetica;
  font-weight: 200;
}

footer p {
  margin: 0 0 0 30px;
  font-size: .9em;
}

footer a {
  color: #ddd;
  transition: .2s;
}

footer a:hover {
  color: #4892AB;
}
